services:
  traefik:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
{% if tls_enabled %}
      - "443:443"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_data_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
{% if tls_enabled %}
      - {{ traefik_data_dir }}/acme:/acme
{% endif %}
{% if tls_enabled and cf_api_email is defined and cf_dns_api_token is defined %}
    environment:
      CF_API_EMAIL: "{{ cf_api_email }}"
      CF_DNS_API_TOKEN: "{{ cf_dns_api_token }}"
{% endif %}
    networks:
      - {{ docker_network_name }}

networks:
  {{ docker_network_name }}:
    external: true
